.no-label-cd {

  .cd-number,
  black-number {
    font-size: 16px;
    font-weight: normal;
    margin-right: 7px;
    line-height: initial;
  }

  .cd-number {
    color: white;

    span {
      color: white;
    }
  }

  .black-number {
    color: black;

    span {
      color: black;
      margin-right: 5px;
      margin-left: 3px;
    }
  }

  span {
    margin-left: 2px;
  }
}
